<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Categories</h1>
    <p class="mb-4">Categories is to group your posts systematically so that readers can easily find the content that interests them <a target="_blank"
            routerLink="/blog" >see official website</a>.</p>

    <!-- DataTales Example -->
    <div class="card">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List of Categories</h6>
            <button type="button" class="btn btn-primary" style="float: right;" (click)="onAdd('Save')">Add</button> &nbsp;
        </div>
        <table class="table table-hover table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th width="5%">S.No</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Edit</th>

                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th width="5%">S.No</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Edit</th>

                </tr>
            </tfoot>
            <tbody>
                <tr *ngFor="let i=index ;let item of categories| paginate: { id: 'list_items',
                itemsPerPage: 10,
                currentPage: page,
                totalItems: itemsRecords }">
                    <td>{{i+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                    <td>
                        <a class="link" (click)="onEdit(item.id)">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        &nbsp;
                        <a class="link" (click)="onDelete(item.id)">
                            <i class="fas fa-trash"></i>
                        </a>

                    </td>
                </tr>           
            
            </tbody>
        </table>
        <div>
            <pagination-controls id="list_items" maxsize="5"    (pageChange)="page = $event"></pagination-controls>
        </div>

    </div> 
    

</div>
<div id="updateDate">
    <jw-modal id="exampleModal">
        <div class="modal-body">
                       
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-header">
                          <h4 class="card-title">{{title}}</h4>
                          <p class="card-category">{{titleDescription}}</p>
                        </div>
                        <div class="card-body">
                          <form id="addUserForm">
                            <div class="row" *ngIf="category.errMsg">
                   
                              <div class="col-md-6">
                                <div class="alert alert-danger">
                                  {{category.errMsg}}
                                </div>
                             
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div  [ngClass]="{'form-group': true, 'is-filled': true}">
                                  <label for="tname" class="bmd-label-floating">Category Name</label>
                                  <input type="text" name="tname" class="form-control" [(ngModel)]="category.name"/>
                                </div>
                              </div>
                    
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <label for="tdescription">Description</label>
                                <div class="form-group">
                                  <label [ngClass]="{'form-group': true, 'is-filled': true}" for="tdescription"> Any specific description about the category</label>
                                  <textarea class="form-control" rows="4" name="tdescription" [(ngModel)]="category.description"></textarea>
                                </div>
                              </div>
                         
                            </div>
                
                           <div class="row">
                              <div class="col-md-12">
                             <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onClose('exampleModal')">Cancel</button> &nbsp;
                                <button type="button" class="btn btn-primary" (click)="saveData(category,btnName)">{{btnName}}</button>
                              </div>
                            </div>
                                          
                            <div class="clearfix"></div>
                          </form>
                        </div>
                      </div>
                    </div>
                 
                  </div>
              
        </div>
      </jw-modal>
</div>