<section id="banner__area">
  <div class="banner__wrap">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 mx-auto">
          <div class="banner__inner text-center">
            <h1>About Us</h1>
              <nav class="banner-inner">
                <a routerLink="/home" class="banner-item">Home</a>
                <span class="brd-separetor">-</span>
                <span class="banner-item active">About Us</span>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section id="section__about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 mb-4 mb-md-5 mb-lg-0">
        <div class="row">
          <div class="col-lg-5">
            <div class="featured-box">
              <div class="featured-box-background"> </div>
            </div>
            
          </div>
          <div class="col-lg-7">
            <div class="featured-box">
              <div class="featured-box-background-2"> </div>
            </div>
          </div>
        </div>
     
      </div>
      <div class="col-lg-7 pl-lg-5">
       
       <h2 class="h6">Medical Marijuana Improves Health. We Help You Access it  Legally </h2>
       <hr class="heading_line mb-4">
       <p><strong>Medical Cannabis Card Evaluations Palmdale</strong> has established as a leading medical marijuana clinic in Palmdale. We provide quick 420 evaluations, allowing patients to access medical cannabis products from state-licensed dispensaries. We ensure providing complete care at every step of the process.</p>
       <p>At <a href="https://goo.gl/maps/g9Y4pQhA9wkWigvj8" target="_blank" rel="noopener noreferrer"><strong>Medical Cannabis Card Evaluations Palmdale</strong></a>, we have a team of board-certified doctors who focus on delivering high-quality services. They carefully analyze patients’ conditions and suggest customized medical marijuana treatments. We have a five-star rating on Yelp.</p>
       <p>Our process for providing MMJ recommendations is very simple and takes less than 10 minutes. Our doctors talk to patients over a secure HIPAA-compliant platform and deliver medical marijuana recommendations over the email.</p>
       <p>See our doctors to get a recommendation or medical marijuana renewal today!</p>
     </div>
    </div>
  </div>
</section>


<section id="about__us">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="pre_column-inner_left">
          <span class="pb-4"> OUR COMPLETE PROCESS</span>
          <h2 class="slidea">Simple, Easy, And Convenient</h2>
          <hr class="heading_line mb-5" />
        
        </div>
      </div>

      <div class="col-lg-12 mt-4">
        <div class="row align-items-center">
          <div class="col-md-4 col-lg-4">
            <div class="pre_column-inner">
              <div class="content_box" data-aos="fade-right" data-aos-duration="1000" >
                <img
                src="assets/img/jpg/service-1.png"
                  data-src="assets/img/jpg/service-1.png"
                  alt=""
                />
                <h3 class="mt-4 mb-2">Sign up</h3>
                <p>Complete a simple application form, filling in your medical details</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="pre_column-inner">
              <div class="content_box" data-aos="fade-right" data-aos-duration="1000" >
                <img
                src="assets/img/jpg/service-1.png"
                  data-src="assets/img/jpg/service-1.png"
                  alt=""
                />
                <h3 class="mt-4 mb-2">Talk to Doctor</h3>
                <p>Interact with a California board-certified doctor through a video call</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4">
            <div class="pre_column-inner">
              <div class="content_box" data-aos="fade-right" data-aos-duration="1000" >
                <img
                src="assets/img/jpg/service-1.png"
                
                  data-src="assets/img/jpg/service-1.png"
                  alt=""
                />
                <h3 class="mt-4 mb-2">Instant Delivery</h3>
                <p>Get your MMJ recommendation letter in PDF through the email within minutes</p>
              </div>
            </div>
          </div>
          


        </div>

        <div class="row text-center align-items-center justify-content-center mt-5">
          <div class="button-container ">
            <a href="https://app.verifymc.com/index.php?widget_beta/questionnaire_video/da11e8cd1811acb79ccf0fd62cd58f86/" class="btn my__btn__bg">GET MMJ RECOMMENDATION NOW</a>
            
          </div>
        </div>
      </div>
    </div>
  </div>
 
</section>