@-ms-viewport {
    width: device-width;
  }

  section#banner__area {
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
  }
  section#banner__area {
    background-image: url(../../../../assets/img/webp/Doctor-Signed.webp);
  }
  :-webkit-full-screen:not(:root:root),
  section#banner__area {
    background-image: url("../../../../assets/img/jpg/Doctor-Signed.jpg");
  }
  section#banner__area:before {
    position: absolute;
    content: "";
    background: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.6;
  }
  
  section#banner__area .banner__wrap {
    align-items: center;
    display: flex;
    height: 400px;
    position: relative;
    z-index: 2;
  }
  
  section#banner__area .banner__inner h1 {
    color: #fdfdfd;
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
  }
  
  section#banner__area nav.banner-inner {
    margin-top: 6px;
  }
  
  section#banner__area nav.banner-inner a {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #2baae2;
  }
  section#banner__area nav.banner-inner a:hover,
  section#banner__area nav.banner-inner a:focus,
  section#banner__area nav.banner-inner a:active {
    color: #186ba6;
  }
  section#banner__area nav.banner-inner span {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  section#banner__area span.brd-separetor {
    padding: 0 7px;
  }
  
  #section__about {
    position: relative;
    z-index: 2;
    width: 100%;
    background-color: #ffffff;
    padding: 8rem 0 8rem;
  }
  
  #section__about .h6 {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.875em;
    color: #1e78a7;
  }
  #section__about p {
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin-bottom: 2rem;
    font-weight: var(--subheadingparaweight);
    color: var(--subheadingpara);
    width: var(--fullwdh);
    float: left;
    text-align: justify;
  }
  #section__about p strong {
    font-size: 1.6rem;
  }
  #section__about p a {
    font-size: 1.6rem;
    color: #1e78a7;
  }
  #section__about .featured-box {
    position: relative;
    overflow: hidden;
    border-radius: 0;
    height: 100% !important;
    margin: 0 !important;
    min-height: 360px;
  }
  #section__about .featured-box .featured-box-background {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: cubic-bezier(0.39, 0.66, 0.42, 0.99) all 2s;
    transform: scale(1);
  }
  #section__about .featured-box .featured-box-background-2 {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: cubic-bezier(0.39, 0.66, 0.42, 0.99) all 2s;
    transform: scale(1);
    -webkit-box-shadow: 0rem 1.5rem 4rem 0rem rgb(138 249 208 / 0%);
    box-shadow: 0rem 1.5rem 4rem 0rem rgb(138 249 208 / 0%);
  }
  #section__about .featured-box .featured-box-background {
    background-image: url(../../../../assets/img/webp/generic-1.webp);
  }
  :-webkit-full-screen:not(:root:root),
  #section__about .featured-box .featured-box-background {
    background-image: url(../../../../assets/img/jpg/generic-1.jpg);
  }
  #section__about .featured-box .featured-box-background-2 {
    background-image: url(../../../../assets/img/webp/generic-2.webp);
  }
  :-webkit-full-screen:not(:root:root),
  #section__about .featured-box .featured-box-background-2 {
    background-image: url("../../../../assets/img/jpg/generic-2.jpg");
  }
  
  #section__about .featured-box:hover .featured-box-background {
    transform: scale(1.1);
  }
  #section__about .featured-box:hover .featured-box-background-2 {
    transform: scale(1.1);
  }
  #section__about .featured-box:hover {
    -webkit-box-shadow: 0rem 1.5rem 4rem 0rem rgb(138 249 208 / 18%);
    box-shadow: 0rem 1.5rem 4rem 0rem rgb(138 249 208 / 18%);
  }
  /**AboutUs**/
  section#about__us {
    padding: 0rem 0 0 0;
    position: relative;
    z-index: 3;
    background: rgb(255 255 255 / 0%);
  }
  section#about__us .row {
    z-index: 2;
    position: relative;
  }
  section#about__us .col__left {
    display: -ms-grid;
    display: grid;
    place-items: center;
    margin-top: 10rem;
  }
  section#about__us h2 {
    line-height: 3.7rem;
    margin-bottom: 3.5rem;
    letter-spacing: 0.1px;
    color: #0d577b;
    margin: 0 0 0;
    width: var(--fullwdh);
    float: left;
    font-size: 3.6rem;
  }
  section#about__us p {
    text-align: justify;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin-bottom: 2rem;
    font-weight: var(--subheadingparaweight);
    color: var(--subheadingpara);
    width: var(--fullwdh);
    float: left;
  }
  section#about__us span {
    color: var(--subtitleclr);
    font-size: 1.6rem;
    font-weight: bolder;
    width: var(--fullwdh);
    float: left;
    letter-spacing: 2.5px;
  }
  section#about__us .content_box {
    width: var(--fullwdh);
    float: left;
    border-style: solid;
    border-color: transparent;
    z-index: 1;
    position: relative;
    -webkit-transition: all ease-out 0.1s;
    -o-transition: all ease-out 0.1s;
    transition: all ease-out 0.1s;
    background-color: #ffffff;
    border-radius: 0.5rem;
    border-width: 0rem 0rem 0.4rem 0rem;
    -webkit-box-shadow: 0rem 1.5rem 4rem 0rem rgb(21 21 21/11%);
    box-shadow: 0rem 1.5rem 4rem 0rem rgb(21 21 21/11%);
    padding: 3.5rem 3rem;
  }
  section#about__us .content_box img {
    max-width: 100%;
    width: 16%;
  }
  section#about__us .content_box h3 {
    font-size: 1.8rem;
    margin-top: 0.5rem;
    margin-bottom: 1.7rem;
    width: var(--fullwdh);
    float: left;
  }
  section#about__us .content_box p {
    line-height: 2.4rem;
    font-size: 1.5rem;
    color: var(--subheadingpara);
    width: var(--fullwdh);
    float: left;
    font-weight: var(--subheadingparaweight);
  }
  section#about__us .pre_column-inner_left p strong {
    font-size: 1.6rem;
  }
  section#about__us .content_box:hover {
    border-color: #63beff;
    border-width: 0rem 0rem 0.4rem 0rem;
    -webkit-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    transform: translateY(-1rem);
    background: #1f71aa;
    box-shadow: -10px 20px 40px -20px rgb(24 107 166);
  }
  section#about__us .content_box:hover p,
  section#about__us .content_box:hover h3 {
    color: #fff;
  }
  /**AboutUsEnd**/
  @media (min-width: 1200px) {
    .container {
      max-width: 1180px;
    }
  }
  @media only screen and (min-device-width: 1400px) {
    .container {
      width: auto;
      max-width: 1600px;
    }
  
    .shape-top {
      height: 36.1875rem;
    }
  }
  .my__btn__bg {
    font-weight: bolder;
    color: #006ba6;
    padding: 1.2rem 3rem;
    border-radius: 5rem;
    background: var(--whiteclr);
    border: solid .2rem #006ba6;
    font-size: 1.5rem;
    letter-spacing: .5px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
  }
  
  a.btn.my__btn__bg:hover {
    background: #006ba6;
    color: var(--whiteclr);
    border-color: var(--whiteclr)
  }