<section id="banner__area">
  <div class="banner__wrap">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 mx-auto">
          <div class="banner__inner text-center">
            <h1>{{heading}}</h1>
            <nav class="banner-inner">
              <a routerLink="/home" class="banner-item">Home</a>
              <span class="brd-separetor">-</span>
              <span class="banner-item active">{{subHeading}}</span>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section__blog">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-12 text-center mb-2" *ngIf="show">
        
        <span class="pb-4"> Blogs </span>
        <h1 class="slidea">News & Updates</h1>
        <hr class="heading_line mb-4" />
      </div>

      <div class="col-lg-9 mx-auto">
        <div class="row">
          <!-- <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <div class="blog foo aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
              <div class="blog__thumb">
                <a routerLink="/single-page">

                  <picture>
                    <source type="image/webp" data-srcset="assets/img/webp/medical-marijuana-card-online-1.webp" />
                    <source type="image/jpeg" data-srcset="assets/img/jpg/medical-marijuana-card-online-1.jpg" />
                    <img data-src="assets/img/jpg/medical-marijuana-card-online-1.jpg" class="lazyload"
                      alt="blog image" />
                  </picture>

                </a>
                <div class="blog__hover__info">
                  <ul class="blog__meta">
                    <li>
                      <span><img class="lazyload" data-src="assets/img/svg/cat.svg" alt="cat" width="20"
                          height="20" /></span>
                      <a routerLink="/blog">Medical Marijuana</a>
                    </li>
                    <li> <span><img class="lazyload" data-src="assets/img/svg/clock.svg" alt="date" width="20"
                          height="20" /></span>24 Nov 2020</li>

                  </ul>
                </div>
              </div>
              <div class="blog__details">
                <h2><a routerLink="/single-page">
                    A Beginner’s Introduction to The Legal Rules of Medical Cannabis </a></h2>
                <div class="blog__btn">
                  <a routerLink="/single-page">READ MORE<i class="arrow-right"> &#x2192;</i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <div class="blog foo aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
              <div class="blog__thumb">
                <a routerLink="/single-page">

                  <picture>
                    <source type="image/webp"
                      data-srcset="assets/img/webp/medical-marijuana-card-online-Palmdale-1.webp" />
                    <source type="image/jpeg"
                      data-srcset="assets/img/jpg/medical-marijuana-card-online-Palmdale-1.jpg" />
                    <img data-src="assets/img/jpg/medical-marijuana-card-online-Palmdale-1.jpg" class="lazyload"
                      alt="blog image" />
                  </picture>

                </a>
                <div class="blog__hover__info">
                  <ul class="blog__meta">
                    <li>
                      <span><img class="lazyload" data-src="assets/img/svg/cat.svg" alt="cat" width="20"
                          height="20" /></span>
                      <a routerLink="/blog">Cannabis</a>
                    </li>
                    <li> <span><img class="lazyload" data-src="assets/img/svg/clock.svg" alt="date" width="20"
                          height="20" /></span>23 Nov 2020</li>

                  </ul>
                </div>
              </div>
              <div class="blog__details">
                <h2><a routerLink="/single-page">How to Use Your Marijuana Card for Chronic Pain?</a></h2>
                <div class="blog__btn">
                  <a routerLink="/single-page">READ MORE<i class="arrow-right"> &#x2192;</i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <div class="blog foo aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
              <div class="blog__thumb">
                <a routerLink="/single-page">

                  <picture>
                    <source type="image/webp"
                      data-srcset="assets/img/webp/6-Tips-to-Enjoy-Your-Marijuana-Edibles-Safely.webp" />
                    <source type="image/jpeg"
                      data-srcset="assets/img/jpg/6-Tips-to-Enjoy-Your-Marijuana-Edibles-Safely.jpg" />
                    <img data-src="assets/img/jpg/6-Tips-to-Enjoy-Your-Marijuana-Edibles-Safely.jpg" class="lazyload"
                      alt="blog image" />
                  </picture>

                </a>
                <div class="blog__hover__info">
                  <ul class="blog__meta">
                    <li>
                      <span><img class="lazyload" data-src="assets/img/svg/cat.svg" alt="cat" width="20"
                          height="20" /></span>
                      <a routerLink="/blog">Medical Marijuana</a>
                    </li>
                    <li> <span><img class="lazyload" data-src="assets/img/svg/clock.svg" alt="date" width="20"
                          height="20" /></span>28 Nov 2020</li>

                  </ul>
                </div>
              </div>
              <div class="blog__details">
                <h2><a routerLink="/single-page">6 Tips to Enjoy Your Marijuana Edibles Safely</a></h2>
                <div class="blog__btn">
                  <a routerLink="/single-page">READ MORE<i class="arrow-right"> &#x2192;</i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <div class="blog foo aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
              <div class="blog__thumb">
                <a routerLink="/single-page">

                  <picture>
                    <source type="image/webp" data-srcset="assets/img/webp/medical-marijuana-card-online-1.webp" />
                    <source type="image/jpeg" data-srcset="assets/img/jpg/medical-marijuana-card-online-1.jpg" />
                    <img data-src="assets/img/jpg/medical-marijuana-card-online-1.jpg" class="lazyload"
                      alt="blog image" />
                  </picture>

                </a>
                <div class="blog__hover__info">
                  <ul class="blog__meta">
                    <li>
                      <span><img class="lazyload" data-src="assets/img/svg/cat.svg" alt="cat" width="20"
                          height="20" /></span>
                      <a routerLink="/blog">Medical Marijuana</a>
                    </li>
                    <li> <span><img class="lazyload" data-src="assets/img/svg/clock.svg" alt="date" width="20"
                          height="20" /></span>24 Nov 2020</li>

                  </ul>
                </div>
              </div>
              <div class="blog__details">
                <h2><a routerLink="/single-page">
                    A Beginner’s Introduction to The Legal Rules of Medical Cannabis </a></h2>
                <div class="blog__btn">
                  <a routerLink="/single-page">READ MORE<i class="arrow-right"> &#x2192;</i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <div class="blog foo aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
              <div class="blog__thumb">
                <a routerLink="/single-page">

                  <picture>
                    <source type="image/webp"
                      data-srcset="assets/img/webp/medical-marijuana-card-online-Palmdale-1.webp" />
                    <source type="image/jpeg"
                      data-srcset="assets/img/jpg/medical-marijuana-card-online-Palmdale-1.jpg" />
                    <img data-src="assets/img/jpg/medical-marijuana-card-online-Palmdale-1.jpg" class="lazyload"
                      alt="blog image" />
                  </picture>

                </a>
                <div class="blog__hover__info">
                  <ul class="blog__meta">
                    <li>
                      <span><img class="lazyload" data-src="assets/img/svg/cat.svg" alt="cat" width="20"
                          height="20" /></span>
                      <a routerLink="/blog">Cannabis</a>
                    </li>
                    <li> <span><img class="lazyload" data-src="assets/img/svg/clock.svg" alt="date" width="20"
                          height="20" /></span>23 Nov 2020</li>

                  </ul>
                </div>
              </div>
              <div class="blog__details">
                <h2><a routerLink="/single-page">How to Use Your Marijuana Card for Chronic Pain?</a></h2>
                <div class="blog__btn">
                  <a routerLink="/single-page">READ MORE<i class="arrow-right"> &#x2192;</i></a>
                </div>
              </div>
            </div>
          </div> -->
          <!-- <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
            <div class="blog foo aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
              <div class="blog__thumb">
                <a routerLink="/single-page">

                  <picture>
                    <source type="image/webp"
                      data-srcset="assets/img/webp/6-Tips-to-Enjoy-Your-Marijuana-Edibles-Safely.webp" />
                    <source type="image/jpeg"
                      data-srcset="assets/img/jpg/6-Tips-to-Enjoy-Your-Marijuana-Edibles-Safely.jpg" />
                    <img data-src="assets/img/jpg/6-Tips-to-Enjoy-Your-Marijuana-Edibles-Safely.jpg" class="lazyload"
                      alt="blog image" />
                  </picture>

                </a>
                <div class="blog__hover__info">
                  <ul class="blog__meta">
                    <li>
                      <span><img class="lazyload" data-src="assets/img/svg/cat.svg" alt="cat" width="20"
                          height="20" /></span>
                      <a routerLink="/blog">Medical Marijuana</a>
                    </li>
                    <li> <span><img class="lazyload" data-src="assets/img/svg/clock.svg" alt="date" width="20"
                          height="20" /></span>28 Nov 2020</li>

                  </ul>
                </div>
              </div>
              <div class="blog__details">
                <h2><a routerLink="/single-page">6 Tips to Enjoy Your Marijuana Edibles Safely</a></h2>
                <div class="blog__btn">
                  <a routerLink="/single-page">READ MORE<i class="arrow-right"> &#x2192;</i></a>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <div class="row">
          
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" *ngIf="msg">
            
            <h3 class="text-center">     {{msg}}</h3>
          </div>
        </div>
      
        <div class="row" *ngIf="show; else showSpecific">
         
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" *ngFor="let i =index;let blog of blogs | paginate: { id: 'list_items',
          itemsPerPage: 10,
          currentPage: page,
          totalItems: itemsRecords }">
            <div class="blog foo aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
              <div class="blog__thumb">
                <a [routerLink]="['/single-page',blog.id]">

                  <picture>
                    <source type="image/webp" data-srcset="assets/img/webp/6-Tips-to-Enjoy-Your-Marijuana-Edibles-Safely.webp" />
                    <source type="image/jpeg" data-srcset="assets/img/jpg/6-Tips-to-Enjoy-Your-Marijuana-Edibles-Safely.jpg" />
                    <img data-src="assets/img/jpg/6-Tips-to-Enjoy-Your-Marijuana-Edibles-Safely.jpg" class="lazyload"
                      alt="blog image" />
                  </picture>

                </a>
                <div class="blog__hover__info">
                  <ul class="blog__meta">
                    <li>
                      <span><img class="lazyload" data-src="assets/img/svg/cat.svg" alt="cat" width="20"
                          height="20" /></span>
                      <a routerLink="/blog">{{getArray(blog.category)}}</a>
                    </li>
                    <li> <span><img class="lazyload" data-src="assets/img/svg/clock.svg" alt="date" width="20"
                          height="20" /></span>{{getDate(blog.date_of_creation)}}</li>

                  </ul>
                </div>
              </div>
              <div class="blog__details">
                <h2><a (click)="onReadMore(blog.id)">
                   {{blog.title}} </a></h2>
                <div class="blog__btn">
                  <a (click)="onReadMore(blog.id)">READ MORE<i class="arrow-right"> &#x2192;</i></a>
                </div>
              </div>
            </div>
          </div>
                
          
        
        </div>
        <div class="row mt-5" *ngIf="show">
          <!-- <div class="col-md-12">
            <div class="numbered-pagination">
              <a routerLink="/blog"><i class="fa fa-angle-left"> &#x21D0;</i></a>
              <span class="current">1</span>
              <a routerLink="/blog" class="inactive">2</a>
              <a routerLink="/blog"><i class="fa fa-angle-right">&#x21D2;</i></a>
            </div>
          </div> -->
          <div class="col-md-12">
            <div class="numbered-pagination">
    <pagination-controls id="list_items" maxsize="5"    (pageChange)="page = $event"></pagination-controls>
            </div>
    </div>
        </div>
        <ng-template #showSpecific>
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <div class="blog foo aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                  <div class="blog__thumb">
                      <a routerLink="single-page">
      
                          <picture>
                            <source
                              type="image/webp"
                              data-srcset="assets/img/webp/medical-marijuana-card-online-1.webp"
                            />
                            <source
                              type="image/jpeg"
                              data-srcset="assets/img/jpg/medical-marijuana-card-online-1.jpg"
                            />
                            <img
                              data-src="assets/img/jpg/medical-marijuana-card-online-1.jpg"
                              class="lazyload"
                              alt="blog image"
                            />
                          </picture>
  
                      </a>
                      <div class="blog__hover__info">
                          <ul class="blog__meta">
                              <li>
                                <span><img
                                class="lazyload"
                                data-src="assets/img/svg/cat.svg"
                                alt="cat"
                                width="20"
                                height="20"
                              /></span>
                              <a> {{getArray(blog.category)}}</a></li>
                              <li> <span><img
                                class="lazyload"
                                data-src="assets/img/svg/clock.svg"
                                alt="date"
                                width="20"
                                height="20"
                              /></span>{{getDate(blog.date_of_creation)}}</li>
                              
                          </ul>
                      </div>
                  </div>
                  <div class="blog__details">
                      <h2 class="top__heading">{{blog.title}}</h2>
                      <p>{{blog.description}}</p>
                      <p>Despite the legalization of medical cannabis, the states have certain rules to regulate the use of cannabis within their jurisdiction. This ensures order and also allows the government to give leverage to the medical marijuana patients as compared to recreational cannabis consumers.</p>
                      <p>So, before you go ahead and apply for your MMJ card, here are a few legal rules that you must remember to always be on the safe side.</p>
                  
                      <h2>Qualifying Medical Conditions</h2>
                      <p>Since the legalization of medical cannabis, the states have set up their respective medical marijuana programs that governs the use of cannabis in their area. Now, as per the state marijuana laws, not everyone can call themselves a medical marijuana patient. Only a patient with a legit medical marijuana card is a registered medical cannabis patient.</p>
                      <p>Now, getting an MMJ card also requires passing certain qualifications. The most important of these is a list of health conditions and symptoms that makes a patient eligible for a medical card. In the state of California, the following medical conditions are eligible for a medical card.</p>
                      <ul>
                        <li>✔ Cancer</li>
                        <li>✔ Anorexia</li>
                        <li>✔ Arthritis</li>
                        <li>✔ Cachexia</li>
                        <li>✔ HIV/AIDS</li>
                        <li>✔ Glaucoma</li>
                        <li>✔ Chronic Pain</li>
                        <li>✔ Migraine</li>
                        <li>✔ Muscle Spasms</li>
                        <li>✔ Seizures</li>
                        <li>✔ Any medical condition that hinders the major life activities of the patient.</li>
                        <li>✔ Any medical condition that puts the physical and mental well being of the patient in danger, if left untreated.</li>
                      </ul>
                  
                      <h2>Age Limit</h2>
                      <p>The state government of California has set up an age limit of 18 years for medical cannabis consumption. However, if a patient is under the age of 18, he or she can still use medical cannabis after completing a few steps.</p>
                      <p>First step is to connect with a medical marijuana doctor for a consultation. They will determine if the underage patient should get a recommendation or not. The second step is to get a caregiver who is 21 years of age or above. They will be responsible for getting the medication as well as supervising the dose for the patient.</p>
  
                      <h2>Possession Limit</h2>
                      <p>As a medical patient, you can possess cannabis and carry it around without having to deal with any legal trouble. However, there is a limit to the amount that you can carry at a time. Unlike recreational patients with a limit of one ounce, medical cannabis patients can possess up to 8 ounces of cannabis at a time.</p>
                      <p>The high limit allows patients to stock up a higher dose without having to make frequent visits for restocking.</p>
  
                      <h2>Driving Under the Influence</h2>
                      <p>Cannabis is a psychoactive medicinal herb. This means that it can alter your brain and body functions to deliver therapeutic benefits as well as side effects. This includes a strong high and impairment in reflexes and balance. So, you may feel that you’ve lost control of your body after using cannabis.</p>
                      <p>This is why driving in such conditions is nothing but a dangerous situation. It siks your safety as well as that of others. If caught, you will be charged with a DUI or a fine.&nbsp;</p>
  
                      <h2>Traveling With Medical Cannabis</h2>
                      <p>Since cannabis is illegal under federal law, possessing cannabis in areas of federal jurisdiction is a federal offence. Though highly unlikely, the probability of an arrest exists. This is why, when you are traveling with cannabis and crossing state borders, always carry your doctor’s recommendations or card. This will give you leverage to travel with cannabis without having to deal with legal complications.</p>
                      <p>Getting a medical card comes with the benefit of legal security. But, you must remember that you need to follow certain rules and guidelines to stay safe and avoid complications. So, when your MMJ card finally arrives, put it to use while keeping these legal rules in mind. </p>
  
                  </div>
              </div>
            </div>
       
          </div>
        </ng-template>

      </div>





      <div class="col-lg-3">
        <div class="main-sidebar">

          <div id="search2">
            <div class="title">
              <h3>search</h3>
            </div>
            <div class="search">
              <form>
                <input id="s" class="search_input" type="text" name="s" maxlength="30" placeholder="Search...">
                <button type="submit" class="submit button" name="submit"><i class="fa fa-search">
                    <!-- <img class="lazyload" data-src="assets/img/svg/search.svg" alt="search" width="20" height="20" /> -->
                  </i></button>
              </form>
            </div>
          </div>
          <!--search-2-->



          <div id="rpost">
            <div class="title">
              <h3>RECENT POST</h3>
            </div>
            <ul>
              <li class="cat-item"><a routerLink="/blog">A Beginner’s Introduction to The Legal Rules of Medical
                  Cannabis</a></li>
              <li class="cat-item"><a routerLink="/blog">How to Use Your Marijuana Card for Chronic Pain?</a></li>
              <li class="cat-item"><a routerLink="/blog">6 Tips to Enjoy Your Marijuana Edibles Safely</a></li>
              <li class="cat-item"><a routerLink="/blog">Struggling With Asthma? Medical Cannabis Can Help</a></li>
              <li class="cat-item"><a routerLink="/blog">The Pros And Cons of Smoking Medical Marijuana</a> </li>
              <li class="cat-item" *ngFor="let b of blogs"><a (click)="onReadMore(b.id)">{{b.title}}</a> </li>
            </ul>
          </div>
          <!--categorybx-2-->

          <div id="categorybx">
            <div class="title">
              <h3>CATEGORIES</h3>
            </div>
            <ul>
              <li class="cat-item"><a routerLink="/blog">Creative</a> (3)</li>
              <li class="cat-item"><a routerLink="/blog">Fashion</a> (1)</li>
              <li class="cat-item"><a routerLink="/blog">Lifestyle</a> (2)</li>
              <li class="cat-item"><a routerLink="/blog">Nature</a> (4)</li>
              <li class="cat-item"><a routerLink="/blog">Travel</a> (2)</li>
              <li class="cat-item" *ngFor="let c of category"><a (click)="onViewByCategory(c.id,c.name)">{{c.name}}</a> ({{1}})</li>
            </ul>
          </div>
          <!--categorybx-2-->



          <div id="tagbx">
            <div class="title">
              <h3>TAG</h3>
            </div>
            <div class="tagcloud">
              <a routerLink="/blog">Beauty</a><a routerLink="/blog">bicycle</a> <a routerLink="/blog">health</a><a
                routerLink="/blog">holidays</a><a routerLink="/blog">inspiration</a>
              <a routerLink="/blog">Music</a><a routerLink="/blog">auote</a> <a routerLink="/blog">sunset</a><a
                routerLink="/blog">swim</a><a routerLink="/blog">time</a>
              <a routerLink="/blog">trendy</a><a routerLink="/blog">weekend</a> <a routerLink="/blog">women</a>
              <a routerLink="/blog" *ngFor="let tag of tags" (click)="onViewBlogByTag(tag.id,tag.name)">{{tag.name}}</a>
            </div>
          </div>
          <!--tag box-->



        </div>

      </div>
    </div>
    

  


   
  

  </div>
</section>