
   <section id="banner__area">
    <div class="banner__wrap">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 mx-auto">
            <div class="banner__inner text-center">
              <h1>Blog Details</h1>
                <nav class="banner-inner">
                  <a href="" class="banner-item">Blog </a>
                  <span class="brd-separetor">-</span>
                  <span class="banner-item active">Blog Details</span>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <section id="section__blog">
        <div class="container">
          <div class="row justify-content-between">
        
            
              <div class="col-lg-9 mx-auto"> 
                <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="blog foo aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                        <div class="blog__thumb">
                            <a routerLink="single-page">
            
                                <picture>
                                  <source
                                    type="image/webp"
                                    data-srcset="assets/img/webp/medical-marijuana-card-online-1.webp"
                                  />
                                  <source
                                    type="image/jpeg"
                                    data-srcset="assets/img/jpg/medical-marijuana-card-online-1.jpg"
                                  />
                                  <img
                                    data-src="assets/img/jpg/medical-marijuana-card-online-1.jpg"
                                    class="lazyload"
                                    alt="blog image"
                                  />
                                </picture>
  
                            </a>
                            <div class="blog__hover__info">
                                <ul class="blog__meta">
                                    <li>
                                      <span><img
                                      class="lazyload"
                                      data-src="assets/img/svg/cat.svg"
                                      alt="cat"
                                      width="20"
                                      height="20"
                                    /></span>
                                    <a href="#">Medical Marijuana</a></li>
                                    <li> <span><img
                                      class="lazyload"
                                      data-src="assets/img/svg/clock.svg"
                                      alt="date"
                                      width="20"
                                      height="20"
                                    /></span>24 Nov 2020</li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="blog__details">
                            <h2 class="top__heading">A Beginner’s Introduction to The Legal Rules of Medical Cannabis</h2>
                            <p>Who knew medical cannabis would become a much needed medical aid? People’s opinions are becoming more welcoming and the state governments are making cannabis access for patients easier and less complicated than ever. So, are you one of the thousand people who are all prepped up to get a <a href="https://palmdalealternativemedcenter.com/" target="_blank" rel="noopener noreferrer"><strong>medical marijuana card online</strong> </a>and be a part of the revolutionary age of cannabis? If yes, then I have something that is worth your time.</p>
                            <p>Despite the legalization of medical cannabis, the states have certain rules to regulate the use of cannabis within their jurisdiction. This ensures order and also allows the government to give leverage to the medical marijuana patients as compared to recreational cannabis consumers.</p>
                            <p>So, before you go ahead and apply for your MMJ card, here are a few legal rules that you must remember to always be on the safe side.</p>
                       
                            <h2>Qualifying Medical Conditions</h2>
                            <p>Since the legalization of medical cannabis, the states have set up their respective medical marijuana programs that governs the use of cannabis in their area. Now, as per the state marijuana laws, not everyone can call themselves a medical marijuana patient. Only a patient with a legit medical marijuana card is a registered medical cannabis patient.</p>
                            <p>Now, getting an MMJ card also requires passing certain qualifications. The most important of these is a list of health conditions and symptoms that makes a patient eligible for a medical card. In the state of California, the following medical conditions are eligible for a medical card.</p>
                            <ul>
                              <li>✔ Cancer</li>
                              <li>✔ Anorexia</li>
                              <li>✔ Arthritis</li>
                              <li>✔ Cachexia</li>
                              <li>✔ HIV/AIDS</li>
                              <li>✔ Glaucoma</li>
                              <li>✔ Chronic Pain</li>
                              <li>✔ Migraine</li>
                              <li>✔ Muscle Spasms</li>
                              <li>✔ Seizures</li>
                              <li>✔ Any medical condition that hinders the major life activities of the patient.</li>
                              <li>✔ Any medical condition that puts the physical and mental well being of the patient in danger, if left untreated.</li>
                            </ul>
                        
                            <h2>Age Limit</h2>
                            <p>The state government of California has set up an age limit of 18 years for medical cannabis consumption. However, if a patient is under the age of 18, he or she can still use medical cannabis after completing a few steps.</p>
                            <p>First step is to connect with a medical marijuana doctor for a consultation. They will determine if the underage patient should get a recommendation or not. The second step is to get a caregiver who is 21 years of age or above. They will be responsible for getting the medication as well as supervising the dose for the patient.</p>
  
                            <h2>Possession Limit</h2>
                            <p>As a medical patient, you can possess cannabis and carry it around without having to deal with any legal trouble. However, there is a limit to the amount that you can carry at a time. Unlike recreational patients with a limit of one ounce, medical cannabis patients can possess up to 8 ounces of cannabis at a time.</p>
                            <p>The high limit allows patients to stock up a higher dose without having to make frequent visits for restocking.</p>
  
                            <h2>Driving Under the Influence</h2>
                            <p>Cannabis is a psychoactive medicinal herb. This means that it can alter your brain and body functions to deliver therapeutic benefits as well as side effects. This includes a strong high and impairment in reflexes and balance. So, you may feel that you’ve lost control of your body after using cannabis.</p>
                            <p>This is why driving in such conditions is nothing but a dangerous situation. It siks your safety as well as that of others. If caught, you will be charged with a DUI or a fine.&nbsp;</p>
  
                            <h2>Traveling With Medical Cannabis</h2>
                            <p>Since cannabis is illegal under federal law, possessing cannabis in areas of federal jurisdiction is a federal offence. Though highly unlikely, the probability of an arrest exists. This is why, when you are traveling with cannabis and crossing state borders, always carry your doctor’s recommendations or card. This will give you leverage to travel with cannabis without having to deal with legal complications.</p>
                            <p>Getting a medical card comes with the benefit of legal security. But, you must remember that you need to follow certain rules and guidelines to stay safe and avoid complications. So, when your MMJ card finally arrives, put it to use while keeping these legal rules in mind. </p>
  
                        </div>
                    </div>
                  </div>
             
                </div>
            </div>
  
  
  
            <div class="col-lg-3">
              <div class="main-sidebar">
  
                <div id="search2">
                  <div class="title"> 
                    <h3>search</h3>
                  </div>
                  <div class="search">
                    <form>
                      <input id="s" class="search_input" type="text" name="s" maxlength="30" placeholder="Search...">
                      <button type="submit" class="submit button" name="submit"><i class="fa fa-search">
                        <img
                                      class="lazyload"
                                      data-src="assets/img/svg/search.svg"
                                      alt="search"
                                      width="20"
                                      height="20"
                                    />
                      </i></button>
                    </form>
                  </div>
                </div> <!--search-2-->
  
  
  
                <div id="rpost">
                  <div class="title"> 
                    <h3>RECENT POST</h3>
                  </div>
                  <ul>
                      <li class="cat-item"><a href="#">A Beginner’s Introduction to The Legal Rules of Medical Cannabis</a></li>
                      <li class="cat-item"><a href="#">How to Use Your Marijuana Card for Chronic Pain?</a></li>
                      <li class="cat-item"><a href="#">6 Tips to Enjoy Your Marijuana Edibles Safely</a></li>
                      <li class="cat-item"><a href="#">Struggling With Asthma? Medical Cannabis Can Help</a></li>
                      <li class="cat-item"><a href="#">The Pros And Cons of Smoking Medical Marijuana</a> </li>
                    </ul>
                </div> <!--categorybx-2-->
  
                  <div id="categorybx">
                      <div class="title"> 
                        <h3>CATEGORIES</h3>
                      </div>
                      <ul>
                          <li class="cat-item"><a href="#">Creative</a> (3)</li>
                          <li class="cat-item"><a href="#">Fashion</a> (1)</li>
                          <li class="cat-item"><a href="#">Lifestyle</a> (2)</li>
                          <li class="cat-item"><a href="#">Nature</a> (4)</li>
                          <li class="cat-item"><a href="#">Travel</a> (2)</li>
                        </ul>
                    </div> <!--categorybx-2-->
  
      
        
                    <div id="tagbx">
                        <div class="title"> 
                          <h3>TAG</h3>
                        </div>
                        <div class="tagcloud">
                           <a href="#">Beauty</a><a href="#">bicycle</a> <a href="#">health</a><a href="#">holidays</a><a href="#">inspiration</a> 
                           <a href="#">Music</a><a href="#">auote</a> <a href="#">sunset</a><a href="#">swim</a><a href="#">time</a> 
                           <a href="#">trendy</a><a href="#">weekend</a> <a href="#">women</a>
                        </div>
                      </div> <!--tag box-->
  
                  
                  
            </div>
             
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-12">
                    <div class="category-btm">
                      <a href="#" class="exp-term">420 evaluations</a>
                      <a href="#" class="exp-term">Medical Cannabis</a>
                      <a href="#" class="exp-term">Medical Marijuana</a>
                      <a href="#" class="exp-term">medical marijuana card online</a>
                      <a href="#" class="exp-term">MMJ Doctor</a>
                    </div>
                </div>
          </div>
        
        </div>
      </section>
