<div>
  <section class="banner mb-0" >
      <div class="container-fluid">
        <div class="row banner-caption">
          <div class="col-md-11 m-md-auto m-lg-0 col-lg-5">
            <div class="banner__content__wrapper">
              <h1     class="slidea mt-2"
                data-aos="fade-up"
                data-aos-duration="1000"
              >
                Get Your Medical Marijuana Card in Palmdale From 420 Doctor
              </h1>
              <p data-aos="fade-up" data-aos-duration="2000">
                Talk to a California medical board licensed doctor & get your medical marijuana recommendation Palmdale instantly. 
              </p>
              <div
                class="btn__group"
                data-aos="zoom-in-right"
                data-aos-duration="1000"
              >
                <a href="https://app.verifymc.com/index.php?widget_beta/questionnaire_video/da11e8cd1811acb79ccf0fd62cd58f86/" class="btn my__btn__bg"> GET MY CARD NOW</a>
              </div>
              



            </div>
          </div>

         


        </div>
      </div>
      <div class="circle-clr-sm"></div>
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
      <div class="circle5"></div>
    </section>
  </div>


   

  
           
  
  
    <section id="why__us">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-4 col__left pl-lg-5 ">
              <div class="pre_column-inner_left">
    
                <h2 class="slidea">About Us</h2>
                <hr class="heading_line mb-4" />
                <p>
                  <strong>Medical Cannabis Card Evaluations Palmdale</strong> is a reputed provider of medical marijuana evaluation in Palmdale. We have been providing MMJ evaluations for many years, and have served thousands of patients to obtain medical cannabis evaluations easily and quickly. Our MMJ doctors are certified by the Medical Board of California.
                </p>
                <div class="button-container">
                  <a routerLink="/about" class="btn my__btn__bg"> Read More</a>
                  
                </div>
              </div>
            </div>
  
            <div class="col-lg-8  mt-5">
              <div class="row align-items-center">
                <div class="col-md-6 col-lg-6">
                  <div class="pre_column-inner">
                    <div
                      class="content_box"
                      data-aos="fade-right"
                      data-aos-duration="1000"
                    >
       
                        <picture>
                          <source
                            type="image/webp"
                            data-srcset="assets/img/webp/service-1.webp"
                          />
                          <source type="image/png" data-srcset="assets/img/jpg/service-1.png" />
                          <img
                            data-src="assets/img/jpg/service-1.png"
                            class="lazyload"
                            alt="logo"
                            width="71"
                            height="81"
                          />
                        </picture>
  
                      <h3 class="mt-4 mb-2">Medical Marijuana Renewal</h3>
                      <p>Just pay $45 for MMJ card renewal Palmdale, and get legal permission to use marijuana for medical purposes for another year. Sign up for an account and connect with a MMJ doctor in minutes.</p>
                    </div>
                    <div class="spacer-30"></div>
                    <div
                      class="content_box"
                      data-aos="fade-right"
                      data-aos-duration="1000"
                    >
                     <picture>
                          <source
                            type="image/webp"
                            data-srcset="assets/img/webp/service-1.webp"
                          />
                          <source type="image/png" data-srcset="assets/img/jpg/service-1.png" />
                          <img
                            data-src="assets/img/jpg/service-1.png"
                            class="lazyload"
                            alt="logo"
                            width="71"
                            height="81"
                          />
                        </picture>
  
                      <h3>New Patient MMJ Recommendation</h3>
                      <p>
                        In case you fail to qualify for the medical marijuana
                        program, you won’t have to pay.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6">
                  <div class="pre_column-inner">
                    <div class="spacer-30"></div>
                    <div class="spacer-30"></div>
                    <div
                      class="content_box"
                      data-aos="fade-right"
                      data-aos-duration="1000"
                    >
                     <picture>
                          <source
                            type="image/webp"
                            data-srcset="assets/img/webp/service-1.webp"
                          />
                          <source type="image/png" data-srcset="assets/img/jpg/service-1.png" />
                          <img
                            data-src="assets/img/jpg/service-1.png"
                            class="lazyload"
                            alt="logo"
                            width="71"
                            height="81"
                          />
                        </picture>
  
                      <h3>Recommendation + Medical Marijuana Identification Card</h3>
                      <p>
                        For $79.99, get your MMJ card from 420-friendly doctors. You can use your medical marijuana card at any dispensary in Palmdale.
                      </p>
                    </div>
                    <div class="spacer-30"></div>
                    <div
                      class="content_box"
                      data-aos="fade-right"
                      data-aos-duration="1000"
                    >
                     <picture>
                          <source
                            type="image/webp"
                            data-srcset="assets/img/webp/service-1.webp"
                          />
                          <source type="image/png" data-srcset="assets/img/jpg/service-1.png" />
                          <img
                            data-src="assets/img/jpg/service-1.png"
                            class="lazyload"
                            alt="logo"
                            width="71"
                            height="81"
                          />
                        </picture>
  
                      <h3>Medical Marijuana Grower License</h3>
                      <p>
                        Get your medical marijuana grower license Palmdale for just $249.99. Grow medical marijuana for personal use, and increase grow limit to 100 square feet of cannabis plants.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       
      </section>
  
      <section id="section__two">
        <div class="shape-top"></div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-11 mx-auto mycls-col-11">
              <div class="row align-items-center">
                <div class="col-md-4 col-lg-4">
                  <div class="pre_column-inner">
                    
                    <div
                      class="content_box"
                      data-aos="fade-right"
                      data-aos-duration="1000"
                    >
                       <picture>
                          <source
                            type="image/webp"
                            data-srcset="assets/img/webp/service-1.webp"
                          />
                          <source type="image/png" data-srcset="assets/img/jpg/service-1.png" />
                          <img
                            data-src="assets/img/jpg/service-1.png"
                            class="lazyload"
                            alt="logo"
                            width="71"
                            height="81"
                          />
                        </picture>
  
                      <h3 class="mt-4 mb-2">Schedule An Appointment </h3>
                      <p>
                        Schedule an appointment with a medical marijuana doctor and see if your condition qualifies for the use of medical cannabis in your state.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-lg-4">
                  <div class="pre_column-inner">
                    <div
                      class="content_box"
                      data-aos="fade-right"
                      data-aos-duration="1000"
                    >
                       <picture>
                          <source
                            type="image/webp"
                            data-srcset="assets/img/webp/service-1.webp"
                          />
                          <source type="image/png" data-srcset="assets/img/jpg/service-1.png" />
                          <img
                            data-src="assets/img/jpg/service-1.png"
                            class="lazyload"
                            alt="logo"
                            width="71"
                            height="81"
                          />
                        </picture>
  
                      <h3 class="mt-4 mb-2">State-of-the-art Facilities </h3>
                      <p>
                        By matching advanced technology and clinical expertise, we provide exceptional, quick services.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-lg-4">
                  <div class="pre_column-inner">
           
                    <div
                      class="content_box"
                      data-aos="fade-right"
                      data-aos-duration="1000"
                    >
                      <picture>
                          <source
                            type="image/webp"
                            data-srcset="assets/img/webp/service-1.webp"
                          />
                          <source type="image/png" data-srcset="assets/img/jpg/service-1.png" />
                          <img
                            data-src="assets/img/jpg/service-1.png"
                            class="lazyload"
                            alt="logo"
                            width="71"
                            height="81"
                          />
                        </picture>
  
                      <h3 class="mt-4 mb-2">See MMJ Doctors Online </h3>
                      <p>
                        Sign up for an account and see our 420 doctors over a HIPAA-compliant software. Once approved, you’ll receive a MMJ recommendation letter in PDF format through email.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="shape-btm"></div>
      </section>
  
      <section id="section__four">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12 text-center mb-2">
              <div class="pre_column-inner_left">
                <span class="pb-4"> FAQ </span>
                <h2 data-splitting class="slidea">Frequently Asked Questions</h2>
                <hr class="heading_line mb-4" />
  
                <p class="">
                  Here are some of the questions patients commonly ask from us
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="img_left">
              <picture>
                <source
                  type="image/webp"
                  data-srcset="assets/img/webp/faq.webp"
                />
                <source type="image/jpeg" data-srcset="assets/img/jpg/faq.jpg" />
                <img
                  data-src="assets/img/jpg/faq.jpg"
                  class="lazyload"
                  alt="faq" width="466" height="659"
                />
              </picture>
  
              </div>
            </div>
            <div class="col-lg-8">
              <div class="tab-content" id="faq-tab-content">
                  <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                      <div class="accordion" id="accordion-tab-1">
                          <!-- <div class="card">
                              <div class="card-header" id="accordion-tab-1-heading-1">
                                  <h3>
                                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-1" aria-expanded="false" aria-controls="accordion-tab-1-content-1">How to Get a Medical Marijuana Card in Palmdale?
                                      </button>
                                    </h3>
                              </div>
                              <div class="collapse show" id="accordion-tab-1-content-1" aria-labelledby="accordion-tab-1-heading-1" data-parent="#accordion-tab-1">
                                  <div class="card-body">
                                      <p>There’s scientific evidence that medical cannabis can help in treating a wide range of conditions. To buy medical cannabis legally from state-licensed dispensaries, you require a licensed medical doctor’s recommendation. We at <strong>Medical Cannabis Card Evaluations Palmdale</strong> allow patients to apply for medical marijuana evaluation Palmdale within minutes. Using our doctor signed MMJ card, you can visit any state-licensed dispensary, and buy marijuana products.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="card">
                              <div class="card-header" id="accordion-tab-1-heading-2">
                                  <h3>
                                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-2" aria-expanded="false" aria-controls="accordion-tab-1-content-2">Why Do I Need to Apply For Medical Marijuana Renewal?
                                      </button>
                                  </h3>
                              </div>
                              <div class="collapse" id="accordion-tab-1-content-2" aria-labelledby="accordion-tab-1-heading-2" data-parent="#accordion-tab-1">
                                  <div class="card-body">
                                      <p>In California, medical cannabis patients can possess and purchase marijuana for health benefits. The doctor-issued MMJ card is valid for 12 months, and if you want to continue medical cannabis treatment, you need to apply for MMJ renewal. The process is similar to that of applying for a new card. The doctor will analyze your condition and provide you renewed card, which is valid for another year.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="card">
                              <div class="card-header" id="accordion-tab-1-heading-3">
                                  <h3>
                                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-3" aria-expanded="false" aria-controls="accordion-tab-1-content-3">What’s The Complete Process to Get an MMJ Recommendation Letter?
                                      </button>
                                  </h3>
                              </div>
                              <div class="collapse" id="accordion-tab-1-content-3" aria-labelledby="accordion-tab-1-heading-3" data-parent="#accordion-tab-1">
                                  <div class="card-body">
                                      <p>The process of getting a medical marijuana card is very simple, and it hardly takes 10 minutes. Just sign up for an account and fill all your medical details. After you click the submit button, a licensed doctor will contact you over a secure HIPAA-compliant platform. The doctor will examine your condition, check your medical history, and ask you a few questions. After you’re approved, you will receive your MMJ letter over the email instantly. Additionally, your official medical marijuana recommendation and hard-copy MMJ card will arrive via regular postal service.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="card">
                              <div class="card-header" id="accordion-tab-1-heading-4">
                                  <h3>
                                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-4" aria-expanded="false" aria-controls="accordion-tab-1-content-4">Where Can I Buy Medical Marijuana Products?
                                      </button>
                                  </h3>
                              </div>
                              <div class="collapse" id="accordion-tab-1-content-4" aria-labelledby="accordion-tab-1-heading-4" data-parent="#accordion-tab-1">
                                  <div class="card-body">
                                      <p>In California, medical marijuana cardholders can buy cannabis products from state-licensed dispensaries. For medical users, there’s a wide range of options available in strains, oils, topicals, etc. It’s recommended to talk to a professional MMJ doctor Palmdale and get sound advice for what’s right for your condition.</p>
                                  </div>
                              </div>
                          </div>
  
                          <div class="card">
                            <div class="card-header" id="accordion-tab-1-heading-5">
                                <h3>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-5" aria-expanded="false" aria-controls="accordion-tab-1-content-4">What Are The Major Requirements To Get a Medical Cannabis Card in Palmdale?
                                    </button>
                                </h3>
                            </div>
                            <div class="collapse" id="accordion-tab-1-content-5" aria-labelledby="accordion-tab-1-heading-5" data-parent="#accordion-tab-1">
                                <div class="card-body">
                                    <p>To get medical marijuana evaluations Palmdale, you must be a resident of California. Moreover, you must be diagnosed by one of the state’s MMJ qualifying conditions. Your doctor will examine your condition carefully and may ask you to show medical history for verification purposes. After you’re approved, you will get your MMJ card.</p>
                                </div>
                            </div>
                        </div>
  
                        <div class="card">
                          <div class="card-header" id="accordion-tab-1-heading-6">
                              <h3>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-6" aria-expanded="false" aria-controls="accordion-tab-1-content-4">In California, Adult-Use Marijuana is Legal. Do I Still Need to Apply For a Medical Marijuana Card in Palmdale?
                                  </button>
                              </h3>
                          </div>
                          <div class="collapse" id="accordion-tab-1-content-6" aria-labelledby="accordion-tab-1-heading-6" data-parent="#accordion-tab-1">
                              <div class="card-body">
                                  <p>In California, marijuana is legal for both medical and recreational purposes. But, medical users enjoy many advantages over recreational users. These include—age relaxations, access to high-potency products & more dispensaries, and tax saving. Talk to our doctors to obtain a California medical marijuana card today.</p>
                              </div>
                          </div>
                      </div> -->
<!-- Displayed FAQ from array using *ngFor-->
                       <div class="card" *ngFor="let item of faq; let i=index;">
                        <div class="card-header" id="{{'accordion-tab-1-heading-'+(i+1)}}">
                            <h3>
                                <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#accordion-tab-1-content-'+ (i+1)" aria-expanded="false" [attr.aria-controls]="'accordion-tab-1-content-'+(i+1)" [innerHTML]="item.heading">
                                  <!-- {{item.heading}} -->
                                </button>
                            </h3>
                        </div>
                        <div class="collapse" [ngClass]="{show: (i+1)===1}" id="{{'accordion-tab-1-content-'+(i+1)}}" [attr.aria-labelledby]="'accordion-tab-1-heading-'+(i+1)" data-parent="#accordion-tab-1" >
                            <div class="card-body">
                                <p [innerHTML]="item.content">
                                  <!-- {{item.content}} -->
                                </p>
                            </div>
                        </div>
                    </div>  
  
  
                      </div>
                  </div>
           
              </div>
          </div>
  
            
          </div>
        </div>
  
      </section>
  
      <section id="section__five" class="pattern-overlay-1">
        <div class="container">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-7">
              <h2 class="mb-2">
                Get Licensed Doctor-Signed Medical Cannabis Card Palmdale
              </h2>
     
              <p>Start using medical marijuana as a treatment for your condition today.</p>
            </div>
  
            <div class="col-lg-4">
              <div class="button-container">
                <a href="https://app.verifymc.com/index.php?widget_beta/questionnaire_video/da11e8cd1811acb79ccf0fd62cd58f86/" class="btn my__btn__bg"> Get My Card Now</a>
                
              </div>
  
            </div>
          </div>
        </div> 
      </section>  
  
      <section id="section__pricing">
        <div class="container">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-12 text-center mb-3">
              <span class="pb-4"> Pricing </span>
              <h1 class="slidea">Our Packages</h1>
               <hr class="heading_line mb-4" />
            </div>
            
              <div class="col-lg-12 mx-auto"> 
                <div class="row">
                  <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="pricing foo aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
  
                      <div class="pricing__inner">
                        <h2><a href="#">MEDICAL MARIJUANA GROWER LICENSE</a></h2>
                        <p class="pb-2">Grow medical marijuana for personal use & increase grow limit to 99 plants</p>
                        <div class="pricing__btn">
                          <a class="btn my__btn__bg" href="#">GET MY LICENSE NOW</a>
                        </div>
                        <div class="pricing__icon">
                          $249.99
                        </div>
                      </div>
                      <div class="pricing__inner pricing__hober__info">
                        <h2><a href="#">MEDICAL MARIJUANA GROWER LICENSE</a></h2>
                        <p class="pb-2">Grow medical marijuana for personal use & increase grow limit to 99 plants</p>
                      <div class="pricing__btn">
                        <a class="btn my__btn__bg" href="#">GET MY LICENSE NOW</a>
                      </div>
                      <div class="pricing__icon">
                        <a href="#">$249.99</a>
                      </div>
                      </div>
  
                    </div>
                  </div>
                  <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="pricing foo aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
  
                      <div class="pricing__inner">
                        <h2><a href="#">MEDICAL MARIJUANA RECOMMENDATION</a></h2>
                        <p class="pb-2">Get a licensed medical doctor’s recommendation to access  dispensaries.</p>
                        <div class="pricing__btn">
                            <a class="btn my__btn__bg" href="#">GET RECOMMENDATION</a>
                        </div>
                        <div class="pricing__icon">
                          $59.99
                        </div>
                      </div>
                      <div class="pricing__inner pricing__hober__info">
                        <h2><a href="#">MEDICAL MARIJUANA RECOMMENDATION</a></h2>
                        <p class="pb-2">Get a licensed medical doctor’s recommendation to access  dispensaries.</p>
                      <div class="pricing__btn">
                        <a class="btn my__btn__bg" href="#">GET RECOMMENDATION NOW</a>
                      </div>
                      <div class="pricing__icon">
                        <a href="#">$59.99</a>
                      </div>
                      </div>
  
                    </div>
                  </div>
                  <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="pricing foo aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
  
                      <div class="pricing__inner">
                        <h2><a href="#">MMJ RECOMMENDATION+ ID CARD</a></h2>
                        <p class="pb-2">Get a wallet-sized medical marijuana patient ID card</p>
                        <div class="pricing__btn">
                          <a class="btn my__btn__bg" href="https://app.verifymc.com/index.php?widget_beta/questionnaire_video/da11e8cd1811acb79ccf0fd62cd58f86/">GET MY CARD NOW</a>
                        </div>
                        <div class="pricing__icon">
                          $79.99
                        </div>
                      </div>
                      <div class="pricing__inner pricing__hober__info">
                        <h2><a href="#">MMJ RECOMMENDATION+ ID CARD</a></h2>
                        <p class="pb-2">Get a wallet-sized medical marijuana patient ID card</p>
                      <div class="pricing__btn">
                        <a class="btn my__btn__bg" href="https://app.verifymc.com/index.php?widget_beta/questionnaire_video/da11e8cd1811acb79ccf0fd62cd58f86/">GET MY CARD NOW</a>
                      </div>
                      <div class="pricing__icon">
                        <a href="#">$79.99</a>
                      </div>
                      </div>
  
                    </div>
                  </div>
                  <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="pricing foo aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
  
                      <div class="pricing__inner">
                        <h2><a href="#">MMJ CARD RENEWAL</a></h2>
                        <p class="pb-2">Renew your card to use marijuana for medical purposes for another year.</p>
                        <div class="pricing__btn">
                          <a class="btn my__btn__bg" href="#">RENEW MY CARD NOW</a>
                        </div>
                        <div class="pricing__icon">
                          $45
                        </div>
                      </div>
                      <div class="pricing__inner pricing__hober__info">
                        <h2><a >MMJ CARD RENEWAL</a></h2>
                        <p class="pb-2">Renew your card to use marijuana for medical purposes for another year.</p>
                      <div class="pricing__btn">
                        <a class="btn my__btn__bg" >RENEW MY CARD NOW</a>
                      </div>
                      <div class="pricing__icon">
                        <a >$45</a>
                      </div>
                      </div>
  
                    </div>
                  </div>
                 
  
                </div>
            </div>
  
          </div>
        </div>
      </section>
  
      <section id="section__blog">
        <div class="container">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-12 text-center mb-2">
              <span class="pb-4"> Blogs </span>
              <h1 class="slidea">News & Updates</h1>
               <hr class="heading_line mb-4" />
            </div>
            
              <div class="col-lg-12 mx-auto text-center"> 
                <!-- <div class="row">
                  <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="blog foo aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                        <div class="blog__thumb">
                            <a href="#">
            
                                <picture>
                                  <source
                                    type="image/webp"
                                    data-srcset="assets/img/webp/medical-marijuana-card-online-1.webp"
                                  />
                                  <source
                                    type="image/jpeg"
                                    data-srcset="assets/img/jpg/medical-marijuana-card-online-1.jpg"
                                  />
                                  <img
                                    data-src="assets/img/jpg/medical-marijuana-card-online-1.jpg"
                                    class="lazyload"
                                    alt="blog image" width="503" height="280"
                                  />
                                </picture>
  
                            </a>
                            <div class="blog__hover__info">
                                <ul class="blog__meta">
                                    <li>
                                      <span><img
                                      class="lazyload"
                                      data-src="assets/img/svg/cat.svg"
                                      alt="cat"
                                      width="20"
                                      height="20"
                                    /></span>
                                    <a href="#">Medical Marijuana</a></li>
                                    <li> <span><img
                                      class="lazyload"
                                      data-src="assets/img/svg/clock.svg"
                                      alt="date"
                                      width="20"
                                      height="20"
                                    /></span>24 Nov 2020</li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="blog__details">
                            <h2><a href="#">
                              A Beginner’s Introduction to The Legal Rules of Medical Cannabis         </a></h2>
                            <div class="blog__btn">
                                <a href="#">READ MORE<i class="arrow-right"> &#x2192;</i></a>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="blog foo aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                        <div class="blog__thumb">
                            <a href="#">
            
                                <picture>
                                  <source
                                    type="image/webp"
                                    data-srcset="assets/img/webp/medical-marijuana-card-online-Palmdale-1.webp"
                                  />
                                  <source
                                    type="image/jpeg"
                                    data-srcset="assets/img/jpg/medical-marijuana-card-online-Palmdale-1.jpg"
                                  />
                                  <img
                                    data-src="assets/img/jpg/medical-marijuana-card-online-Palmdale-1.jpg"
                                    class="lazyload"
                                    alt="blog image" width="503" height="280"
                                  />
                                </picture>
  
                            </a>
                            <div class="blog__hover__info">
                                <ul class="blog__meta">
                                    <li>
                                      <span><img
                                      class="lazyload"
                                      data-src="assets/img/svg/cat.svg"
                                      alt="cat"
                                      width="20"
                                      height="20"
                                    /></span>
                                    <a href="#">Cannabis</a></li>
                                    <li> <span><img
                                      class="lazyload"
                                      data-src="assets/img/svg/clock.svg"
                                      alt="date"
                                      width="20"
                                      height="20"
                                    /></span>23 Nov 2020</li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="blog__details">
                            <h2><a href="#">How to Use Your Marijuana Card for Chronic Pain?</a></h2>
                            <div class="blog__btn">
                                <a href="#">READ MORE<i class="arrow-right"> &#x2192;</i></a>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="blog foo aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                        <div class="blog__thumb">
                            <a href="#">
            
                                <picture>
                                  <source
                                    type="image/webp"
                                    data-srcset="assets/img/webp/6-Tips-to-Enjoy-Your-Marijuana-Edibles-Safely.webp"
                                  />
                                  <source
                                    type="image/jpeg"
                                    data-srcset="assets/img/jpg/6-Tips-to-Enjoy-Your-Marijuana-Edibles-Safely.jpg"
                                  />
                                  <img
                                    data-src="assets/img/jpg/6-Tips-to-Enjoy-Your-Marijuana-Edibles-Safely.jpg"
                                    class="lazyload"
                                    alt="blog image" width="503" height="280"
                                  />
                                </picture>
  
                            </a>
                            <div class="blog__hover__info">
                                <ul class="blog__meta">
                                    <li>
                                      <span><img
                                      class="lazyload"
                                      data-src="assets/img/svg/cat.svg"
                                      alt="cat"
                                      width="20"
                                      height="20"
                                    /></span>
                                    <a href="#">Medical Marijuana</a></li>
                                    <li> <span><img
                                      class="lazyload"
                                      data-src="assets/img/svg/clock.svg"
                                      alt="date"
                                      width="20"
                                      height="20"
                                    /></span>28 Nov 2020</li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="blog__details">
                            <h2><a href="#">6 Tips to Enjoy Your Marijuana Edibles Safely</a></h2>
                            <div class="blog__btn">
                                <a href="#">READ MORE<i class="arrow-right"> &#x2192;</i></a>
                            </div>
                        </div>
                    </div>
                  </div>  
                </div> -->
                <div class="row">
                  <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12" *ngFor="let blog of recent_blogs">
                    <div class="blog foo aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                        <div class="blog__thumb">
                            <a >
            
                                <picture>
                                  <source
                                    type="image/webp"
                                    data-srcset="assets/img/webp/medical-marijuana-card-online-1.webp"
                                  />
                                  <source
                                    type="image/jpeg"
                                    data-srcset="assets/img/jpg/medical-marijuana-card-online-1.jpg"
                                  />
                                  <img
                                    data-src="assets/img/jpg/medical-marijuana-card-online-1.jpg"
                                    class="lazyload"
                                    alt="blog image" width="503" height="280"
                                  />
                                </picture>
  
                            </a>
                            <div class="blog__hover__info">
                                <ul class="blog__meta">
                                    <li>
                                      <span><img
                                      class="lazyload"
                                      data-src="assets/img/svg/cat.svg"
                                      alt="cat"
                                      width="20"
                                      height="20"
                                    /></span>
                                    <a>{{getArray(blog.category)}}</a></li>
                                    <li> <span><img
                                      class="lazyload"
                                      data-src="assets/img/svg/clock.svg"
                                      alt="date"
                                      width="20"
                                      height="20"
                                    /></span>{{getDate(blog.date_of_creation)}}</li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="blog__details">
                            <h2><a (click)="onReadMore(blog.id)">
                              {{blog.title}}        </a></h2>
                            <div class="blog__btn">
                                <a (click)="onReadMore(blog.id)">READ MORE<i class="arrow-right"> &#x2192;</i></a>
                            </div>
                        </div>
                    </div>
                  </div>
                  
                </div>
            </div>
  
          </div>
        </div>
      </section>
     
      <section id="section__map">
        <!--iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.9821630312417!2d-118.1168910847709!3d34.57931788046579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c25827c9c709cf%3A0xaa2cbdc7faf38116!2s830%20E%20Palmdale%20Blvd%2C%20Palmdale%2C%20CA%2093550%2C%20USA!5e0!3m2!1sen!2sin!4v1577350735490!5m2!1sen!2sin" width="100%" height="450" frameborder="0" allowfullscreen="allowfullscreen"></iframe-->
       <picture>
                                  <source
                                    type="image/webp"
                                    data-srcset="assets/img/webp/map.webp"
                                  />
                                  <source
                                    type="image/jpeg"
                                    data-srcset="assets/img/jpg/map.jpg"
                                  />
                                  <img
                                    data-src="assets/img/jpg/map.jpg"
                                    class="lazyload w-100"
                                    alt="blog image" width="1903" height="478"
                                  />
                                </picture>
      </section>
  
      <section id="section__logos">
        <div class="container">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-12 text-center mb-5">
              <span class="pb-4"> Featured </span>
              <h2 class="slidea">We are Featured on</h2>
               <hr class="heading_line mb-4" />
            </div>
            
            <div class="col-lg-9 mx-auto text-center"> 
              <div class="client__logo">
                <div class="row">
                  <div class="col-4 col-md-2">
                    <picture>
                      <source
                        type="image/webp"
                        data-srcset="assets/img/webp/weedmaps.webp"
                      />
                      <source
                        type="image/jpeg"
                        data-srcset="assets/img/jpg/weedmaps.jpg"
                      />
                      <img
                        data-src="assets/img/jpg/weedmaps.jpg"
                        class="lazyload"
                        alt="weedmaps" width="163" height="63"
                      />
                    </picture>
                  </div>
                  <div class="col-4 col-md-2">
                    <picture>
                      <source
                        type="image/webp"
                        data-srcset="assets/img/webp/potguide.webp"
                      />
                      <source
                        type="image/jpeg"
                        data-srcset="assets/img/jpg/potguide.jpg"
                      />
                      <img
                        data-src="assets/img/jpg/potguide.jpg"
                        class="lazyload"
                        alt="potguide" width="163" height="63"
                      />
                    </picture>
                  </div>
                  <div class="col-4 col-md-2">
                    <picture>
                      <source
                        type="image/webp"
                        data-srcset="assets/img/webp/leafly.webp"
                      />
                      <source
                        type="image/jpeg"
                        data-srcset="assets/img/jpg/leafly.jpg"
                      />
                      <img
                        data-src="assets/img/jpg/leafly.jpg"
                        class="lazyload"
                        alt="leafly" width="163" height="63"
                      />
                    </picture>
                  </div>
                  <div class="col-4 col-md-2">
                    <picture>
                      <source
                        type="image/webp"
                        data-srcset="assets/img/webp/hightimes.webp"
                      />
                      <source
                        type="image/jpeg"
                        data-srcset="assets/img/jpg/hightimes.jpg"
                      />
                      <img
                        data-src="assets/img/jpg/hightimes.jpg"
                        class="lazyload"
                        alt="hightimes" width="163" height="63"
                      />
                    </picture>
                  </div>
                  <div class="col-4 col-md-2">
                    <picture>
                      <source
                        type="image/webp"
                        data-srcset="assets/img/webp/budtrader.webp"
                      />
                      <source
                        type="image/jpeg"
                        data-srcset="assets/img/jpg/budtrader.jpg"
                      />
                      <img
                        data-src="assets/img/jpg/budtrader.jpg"
                        class="lazyload"
                        alt="budtrader" width="163" height="63"
                      />
                    </picture>
                  </div>
                  <div class="col-4 col-md-2">
                    <picture>
                      <source
                        type="image/webp"
                        data-srcset="assets/img/webp/allbud.webp"
                      />
                      <source
                        type="image/jpeg"
                        data-srcset="assets/img/jpg/allbud.jpg"
                      />
                      <img
                        data-src="assets/img/jpg/allbud.jpg"
                        class="lazyload"
                        alt="allbud" width="163" height="63"
                      />
                    </picture>
                  </div>
              </div>
              </div>
            </div>
  
          </div>
        </div>
      </section>
      
      <section id="section__three">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-5">
              <div class="pre_column-inner_left">
                <span class="pb-4"> Testimonials </span>
               <h2 class="slidea">Customer Reviews</h2>
               <hr class="heading_line mb-4" />
               <p>
                 For us, nothing is as important as patient satisfaction. Here’s what our patients think have to say
               </p>
               <div class="button-container">
                 <a href="#" class="btn my__btn__bg"> View All Reviews</a>
                 
               </div>
             </div>
           </div>
            <div class="col-md-12 col-lg-7 left_content__bx">
              <div class="slide">
                <div id="demo" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                  </ul>
  
                  <!-- The slideshow -->
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="pre_column-inner_left">
                       
                       
                        <p>
                          Quick process and got my card in a few minutes…just signed up for an account and the doctor connected to me over the phone instantly. Prices are genuine too.
                        </p>
                        <img
                        class="lazyload"
                        data-src="assets/img/jpg/test1.jpg"
                        alt=""
                        width="50px"
                        height="54"
                      />
                        <h2>Jeremy Bates</h2>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="pre_column-inner_left">
                       
                        <p>
                          Full points for fast service and a highly supportive team that provided sound advice on using medical marijuana as a treatment.
                        </p>
                        <img
                        class="lazyload"
                        data-src="assets/img/jpg/test2.jpg"
                        alt=""
                        width="50px"
                        height="54"
                      />
                      <h2>Samantha Davies</h2>
                      </div>
                    </div>
                
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
