<footer id="footer_main" *ngIf="isTitle(['Home','About','Blog','Contact'])" >
    <div class="shape-top"></div>
    <div class="container" >
      <div class="row justify-content-center">
        <aside class="col-12 col-md-4 col-lg-4 col-xl-4 footer__logo pr-3">
          <a href="#" class="footer-logo mb-5">
            <picture>
              <source
                type="image/webp"
                data-srcset="assets/img/webp/logo-footer.webp"
              />
              <source
                type="image/jpeg"
                data-srcset="assets/img/jpg/logo-footer.png"
              />
              <img
                data-src="assets/img/jpg/logo-footer.png"
                class="lazyload"
                alt="logo-footer" width="218" height="55"
              />
            </picture>
          </a>
          <p>
            Medical Cannabis Card Evaluations Palmdale is a reputed provider of medical marijuana evaluation in Palmdale.  Our MMJ doctors are certified by the Medical Board of California.
          </p>
          <ul class="social-network">
            <li>
              <a
                href="https://www.facebook.com/"
                rel="noopener"
             
                name="facebook"
              >
                <img
                  class="lazyload"
                  data-src="assets/img/svg/facebook.svg"
                  alt="facebook"
                  width="20"
                  height="20"
                />
              </a>
            </li>
            <li>
              <a
                href="https://twitter.com/"
                rel="noopener"
              
                name="twitter"
              >
                <img
                  class="lazyload"
                  data-src="assets/img/svg/twitter.svg"
                  alt="twitter"
                  width="20"
                  height="20"
                />
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/"
                rel="noopener"
             
                name="linkedin"
              >
                <img
                  class="lazyload"
                  data-src="assets/img/svg/linkedin.svg"
                  alt="linkedin"
                  width="23"
                  height="23"
                />
              </a>
            </li>
            <li>
              <a
                href="https://www.instagram.com"
                rel="noopener"
          
                name="instagram"
              >
                <img
                  class="lazyload"
                  data-src="assets/img/svg/instagram.svg"
                  alt="instagram"
                  width="20"
                  height="20"
                />
              </a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/"
                rel="noopener"
             
                name="youtube"
              >
                <img
                  class="lazyload"
                  data-src="assets/img/svg/youtube.svg"
                  alt="youtube"
                  width="20"
                  height="20"
                />
              </a>
            </li>
          </ul>
         
        </aside>
        <aside class="col-12 col-md-3 col-lg-3 col-xl-2 offset-xl-1 ulinks">
          <div class="footer-title">
            <h2>Usefull Links</h2>
            <ul class="qlink">
              <li><a routerLink="/home">Home </a></li>
              <li><a routerLink="/about">About </a></li>
              <li><a routerLink="/blog">Blog </a></li>
              <li><a routerLink="/contact">Contact </a></li>
            </ul>
          </div>
        </aside>
        <aside class="col-12 col-md-5 col-lg-5 col-xl-4 offset-xl-1 contact">
          <div class="footer-title">
            <h2>Contact us</h2>
            <ul class="qlink address__bx">
              <li>
                <!-- fa fa-map-marker -->
                <i class="">
                  <img class="lazyload"  alt="" width="16" height="16" src="assets/img/svg/location.svg">
                </i>
                <a href="#">830 E Palmdale Boulevard Suite #5001, Palmdale, CA 93550, United States </a></li>
              <li>
                <!-- fa fa-map-marker -->
                <i class="">
                  <img class="lazyload"  alt="" width="16" height="16" src="assets/img/svg/tel.svg">
                </i>
                <a href="tel:661-535-0994">661-535-0994</a>
              </li>
              <li>
                <!-- fa fa-map-marker -->
                <i class="">
                  <img class="lazyload"  alt="" width="16" height="16" src="assets/img/svg/mail.svg">
                </i>
                <a href="mailto:contact@palmdalealternativemedcenter.com">contact@palmdalealternativemedcenter.com</a></li>
              <li>
                <!-- fa fa-map-marker -->
                <i class="">
                  <img class="lazyload"  alt="" width="16" height="16" src="assets/img/svg/mail.svg">
                </i>
                <a href="#">Mon – Sun : 09 am to 8:30 pm </a>
              </li>
            </ul>
          </div>
        </aside>
     
      </div>
     
    
    </div>
  </footer>

  <div id="footer1" class="copyright">
    <div class="container">
      <div class="row">
        <aside class="col-md-11 copyright-left py-3">
          <p>
            Copyright © {{getYear()}} -<a
              href="#"
              rel="noopener"
              >Palmdale Alternative Med Center</a
            >. All Rights Reserved
          </p>
         
        </aside>
       
      </div>
    </div>
  </div>

